## MAC OS
.DS_Store
*.gem
## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## RVM
.rvmrc

## PROJECT::GENERAL
coverage
rdoc
pkg
.bundle
*.rbc

## PROJECT::SPECIFIC

.cockpit
.cockpit/**
.cockpit/**/*
